.photos {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
.userItem {
    display: flex;
    padding: 10px;
}

.selectedPage {
    font-weight: bold;
}

.usersWrapper {
    max-width: 1000px;
}
