.nav {
  grid-area: n;
  background-color: rgb(194, 188, 173);
  padding: 25px;
}
.item a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(41, 15, 185);
}

.friendsIconBlock {
  margin: 20px 0 0 0;
  max-width: 120px;
  max-height: 130px;
  overflow: hidden;
}
.friendsIconTitle {
  font-size: 20px;
  padding: 0 0 5px 0;
  position: relative;
}
