.nav {
  grid-area: n;
  background-color: rgb(194, 188, 173);
  padding: 15px;
}
.item a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(41, 15, 185);
}

.friendsBlock {
  padding: 20px 0 0 0;
}
.friendsTitle {
  font-size: 20px;
  padding: 0 0 5px 0;
}
.friendsIcon {
}
