.profileItem {
  padding: 10px;
  display: flex;
}
.profileAvatar {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.profileAvatar img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}
.profileName {
  font-weight: bold;
}
.addFotoForm {
  margin-top: 25px;
}
.profileInfoContacts {
  padding-left: 10px;
}
.profileStatus {
  width: 250px;
}
