.friend {
   text-align: center;
}

.friendsItem {
   padding: 0 2.5px 2.5px 0;
}

.friendUserAvatar img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid rgb(252, 252, 252);
}

.friendUserName {
   font-size: 6px;
   color: rgb(46, 48, 46);
   font-weight: bold;
}
